Resources:
  albRedirect:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - Type: redirect
          RedirectConfig:
            Protocol: HTTPS
            Host: '#{host}'
            Query: '#{query}'
            Path: '/#{path}'
            Port: '443'
            StatusCode: HTTP_301
      LoadBalancerArn: { "Ref": "AWSEBV2LoadBalancer" }
      Port: 80
      Protocol: HTTP
option_settings:
  - namespace: aws:elbv2:listener:443
    option_name: Protocol
    value: HTTPS
  - namespace: aws:elbv2:listener:443
    option_name: SSLCertificateArns
    value: arn:aws:acm:us-east-1:330329861424:certificate/5813c351-b1ca-4acd-8f0b-782c96c63484
  - namespace: aws:elbv2:listener:default
    option_name: ListenerEnabled
    value: false
